In [3]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [14]:
###Load the trained model,scale pickel,onehot
model=load_model('model.h5')

##load the enocder and scaler
with open('onehot_encoder_geo.pkl','rb') as file:
    label_encoder_geo=pickle.load(file)
    

with open('label_enocder_gender.pkl','rb') as file:
    label_encoder_gender=pickle.load(file)

with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

In [15]:
input_data={
    'CreditScore':600,
    'Geography':'France',
    'Gender':'Male',
    'Age':40,
    'Tenure':3,
    'Balance':60000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':500000
}

In [20]:
##One-hot encode 'Geography'
geo_encoded=label_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=label_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

e:\karthik\karthik\GEN_AI  and LANG_chain course\ANN_Project_Implementation\venv\lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [23]:
input__df=pd.DataFrame([input_data])
input__df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,500000

In [24]:
##Encode categorical variables
input__df['Gender']=label_encoder_gender.transform(input__df['Gender'])
input__df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,500000

In [25]:
##Concatination One hot encoded
input__df=pd.concat([input__df.drop('Geography',axis=1),geo_encoded_df],axis=1)
input__df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,500000,1.0,0.0,0.0

In [26]:
##SCALING THE INPUT DATA
input_scaler=scaler.transform(input__df)
input_scaler

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699,  6.94716943,  1.00150113,
        -0.57946723, -0.57638802]])

In [27]:
##Predichurn
predicton=model.predict(input_scaler)
predicton

1/1 [==============================] - 1s 728ms/step

array([[0.02680619]], dtype=float32)

In [28]:
pred_prob=predicton[0][0]
pred_prob

0.02680619

In [29]:
if pred_prob>0.5:
    print("The Customer is likely to churn")
else:
    print("The Customer is  not likely to churn")

The Customer is  not likely to churn